

	<div class="nav">
		<div class="nvbox" onclick="location.href='/allmanga'"><img class="navicon" src="/manga.webp"><label class="nvlb">Manga</label></div>
		
		<div class="nvbox" onclick="location.href='/allarticles'"><img class="navicon" src="/article.png"><label class="nvlb">Article</label></div>
		<div class="nvbox"  onclick="location.href='/alllightnovels'"><img class="navicon" src="/LN.png"><label class="nvlb">L/N</label></div>
		<div class="nvbox"onclick="location.href='/allanime'"><img class="navicon" src="/anime.png"><label class="nvlb">Anime</label></div>
		<div class="nvbox"onclick="location.href='/profile'"><img class="navicon" src="/profile.png"><label class="nvlb">Profile</label></div>
	</div>
