
<!DOCTYPE html>
<html>
<head>

<meta name="title" property="og:title" content="Ota Myanmar | Home">
<meta name="disp" property="og:description" content="This is a place for fellow weebs to have fun and to share">
<meta name="img" property="og:image" content="https://www.otamyanmar.com/logo.png">
		
 <link rel="stylesheet" href="/css/stuff.css" media="screen">
 

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158265709-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-158265709-1');
</script>
 