
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
div.scrollmenu {
  margin-top: 30px;
 
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
.lpic{
  width: 25%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}
</style>

</head>
<body>

<h2>Manga/Manhwas</h2>
<p>latest chapters</p>
<div class="scrollmenu">
  <a href="#home"> <img class="lpic" src="<?php echo BASE_URL . 'static/images/skelton.jpg'?>" style="width:100%"></a>
  <a href="#home"> <img class="lpic" src="<?php echo BASE_URL . 'static/images/skelton.jpg'?>" style="width:100%"></a><a href="#home"> <img class="lpic" src="<?php echo BASE_URL . 'static/images/skelton.jpg'?>" style="width:100%"></a><a href="#home"> <img class="lpic" src="<?php echo BASE_URL . 'static/images/skelton.jpg'?>" style="width:100%"></a>
<a href="#home"> <img class="lpic" src="<?php echo BASE_URL . 'static/images/skelton.jpg'?>" style="width:100%"></a><a href="#home"> <img class="lpic" src="<?php echo BASE_URL . 'static/images/skelton.jpg'?>" style="width:100%"></a>
 <a href="#home"> <img class="lpic" src="<?php echo BASE_URL . 'static/images/skelton.jpg'?>" style="width:100%"></a>
 <a href="#home"> <img class="lpic" src="<?php echo BASE_URL . 'static/images/skelton.jpg'?>" style="width:100%"></a>
 <a href="#home"> <img class="lpic" src="<?php echo BASE_URL . 'static/images/skelton.jpg'?>" style="width:100%"></a>
 <a href="#home"> <img class="lpic" src="<?php echo BASE_URL . 'static/images/skelton.jpg'?>" style="width:100%"></a>
 <a href="#home"> <img class="lpic" src="<?php echo BASE_URL . 'static/images/skelton.jpg'?>" style="width:100%"></a> 
</div>

