@font-face {
   font-family: 'MyWebfont';  /* Change this to whatever you like. */
   src: url('mywebfont-regular.ttf') format('truetype');  /* The "regular" font resource. */
   font-style: normal;  /* Associates values of "normal" with this resource. */
   font-weight: normal;  /* As above for weight. */
}

@font-face {
   font-family: 'MyWebfont';  /* Importantly, the same as in the above block; the family name. */
   src: url('mywebfont-italic.ttf') format('truetype');
   font-style: italic;  /* Associates values of "italic" with this resource. */
   font-weight: normal;  /* ... It's not a bold-italic font style. */
}

body {
   font-family:'MyWebfont', georgia, serif;  /* Provides a system font fallback. */
}

em {
   font-style: italic;  /* If @font-face is supported, the italic Web font is used. If not, the italic Georgia style is lifted from the user's computer. Either way, a faux style is not allowed to creep in. */
}
p {
   font-size:1em; /* Silence is golden; implicity 1em. */
   line-height: 1.5;
}
p + p {
   text-indent: 1.5em  /* I like to keep the indentation length equal to the line height. */
}
p + p {
   text-indent: 1.5em  /* I like to keep the indentation length equal to the line height. */
}
.pbox{
	width: 220px;
	height: 300px;
	
	border-radius: 15;

	color: #FFFFFF;
	display: block;
	z-index: 99;
	margin-top: 40%;
	margin-left: auto;
	margin-right: auto;
	background-color: #8A2BE2;
	
	
	padding-top:  20px;

}
.message{
	display: block;
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 20;

}

.blur{
opacity: 0.5;
}

.closebtn{
	margin: auto;
	display: block;
	width: 40px;margin: 
	height: 40px;
	object-fit: fill;

}
.peek{
	width: 80px;
	height: auto;
	bottom: 0;
}
.backbtn{
	display: block;
	width: 40px;
	height: 40px;
	z-index: 101;
	position: fixed;
	margin-top: 10px;
	bottom: 10px;
	right: 10px;
}
.backbtn2{
	display: block;
	width: 40px;
	height: 40px;
	z-index: 101;
	position: fixed;
	margin-top: 10px;
	bottom: 10px;
	right: 60px;
}
.backbtn3{
	display: block;
	width: 40px;
	height: 40px;
	z-index: 101;
	position: fixed;
	margin-top: 10px;
	bottom: 10px;
	right: 110px;
}
.article{
	width: 100%;
	height: 350px;
	position: relative;
	overflow: scroll;
	display: flex;
}
.articon{
	display: inline-block;
	width: 100%;
	height: auto;
	border-radius: 15px;
	background-color: #FFFFFF;
	border-color: #000000;
	position: relative;
}
.arthumb{
	display: block;
	width: 90%;
	height: auto;
	object-fit: cover;
	margin: auto;
	border-radius: 15px;
}
.artitle{
	display: block;
	width: 100%;
	height: 40px;
}
.artsum{
	display: block;
	width: 100%;
	height: 80px;
}
.lab{
		display: inline-block;
		text-align: right;
		float: left;
		margin-top: 60px;
		margin-bottom: 10px;
		margin-left: 10px;
		line-height: 20px;
		
}
.icn{
	width: 40px;
	height: auto;
}
.tbl{
	width: 100%;
	height: 450px;
	position: relative;
	overflow: scroll;
	display: flex;
}
.nav{
	bottom: 0px; 
	right: 0px; 
	display: flex; 
	align-content: center; 
	justify-content: center;
	margin: auto; 
	margin-bottom: 5px; 
	opacity: 0.8; 
	position: fixed;
	
}

.navicon{
	width: 40px;
	height: auto;
	cursor: pointer;
	align-self: center;
	margin-bottom: 0px;

	display:block;
	position: relative;
}
.nvbox{
	text-align: center;
	margin: auto;
	
}
.nvlb{
	width: 50px;
	word-wrap: break-word;
	display: block;
}
.allmanga{
	
	margin-left: auto;
	margin-right: auto;
	padding-top: 70px;
	width: 80%;
	height: 100%;
	position: relative;
	display: block;

	
}
.mg{
	width: 25%;
	height: 200px;
	width: 120px;
	display: inline-block;
	position: relative;
	margin: 10px;
	
}
.allmg{
	width: 80px;
	height: 200px;
	width: 120px;
	display: inline-block;
	position: relative;
	margin: 10px;
	
}
.mgthumb{
	width:120px;
	height: 180px;
	object-fit: cover;
	border-radius: 15px;
	
}
.singel{
	width: 100%;
	position: relative;
	height: 400px;
	overflow: hidden;
}
.mgcover{
	width: 100%;
	height: 400px;
	object-fit: cover;
	position: absolute;
	



}
.blur{
	background-color: #000000;
	opacity: 0.8;
	width: 100%;
	height: 400px;
	position: absolute;
	overflow: hidden;
}
.mglb{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  left: 5px;
  	
  width: 80%;
  

}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
 
 		
  background-color: #4CAF50;
  color: white;

}

.round {
  border-radius: 50%;
}
.title{
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  top:  8px;
  bottom: 80%;
  width: 80%;
  text-align: left;
}
.chp{
	height: 60px;
	width: 100%;
	display: inline-block;
	border-color: #000000;
	background-color: #FFFFFF;
	border-width: 2px;
	position: -webkit-sticky;
    position: sticky;
  	top: 0px;
 

}
.thumb{
	display: inline-block;
	width: 50px;
	height: 50px;
	object-fit: cover;
	margin: 5px;
}
.chpsum{
	display: inline-block;
}
.cont{
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
}
.nvpara{
	display: block;
	width: 80%;
	font-size: 15px;
	margin: auto;
	position: relative;
	text-align: left;
  	text-align: justify;
    white-space: pre-wrap;
    word-wrap: break-word;         
}
.nvtitle{
	display: block;
	margin: auto;
	width: 100%;
	font-size: 20px;
	position: relative;
	text-align: center;
}
.nvtt{
	display: block;
	width: 100%;
	position: relative;
	text-align: center;
	align-content: center;
	justify-content: center;
	margin-top: 20px;
}
.search{
	width: 60%;
	height: 40px;
	border-radius: 15px;
	box-shadow: 5px 10px #888888;
	border-color: #8B008B;
	margin: auto;
	display: block;
	opacity: 0.5;
	color: #8B008B;
	text-align: center;



}::placeholder {
  color: #8B008B;
  text-align: center;
}
.seeall{
	color: #8B008B;
	font-size: 15px;
}
.tbar{
	background-image: url(/textbox.png);
	background-repeat: no-repeat;
  	background-size: 100% 30px; ;
	width: 100%;
	height: 30px;
	left: 0;
	bottom: 0px;
	position: fixed;
	display: block;
	z-index: 100;
	justify-content: center;
	text-align: left;
	color: #FFFFFF;
	

}
.tbar2{
	background-image: url(/textbox.png);
	background-repeat: no-repeat;
  	background-size: 100% 30px; ;
	width: 100%;
	height: 30px;
	left: 0;
	bottom: 0px;

	display: block;
	z-index: 100;
	justify-content: center;
	text-align: left;
	color: #FFFFFF;
	margin-bottom: 30px;


}
.abar{
	background-image: url(/titlebg.png);
	background-repeat: no-repeat;
  	background-size: auto 100% ;
	width: 80%;
	height: 60px;
	left: 0;
	top: 0px;
	display: block;
	z-index: 100;
	position: fixed;
	justify-content: center;
	padding: 10px;
	text-align: left;
	color: #FFFFFF;

}
.lbl{
	position: absolute;
	font-size: 30px;
	bottom: 10%;
	-webkit-text-stroke: 0.5px black;
}
.lbl2{
	position: absolute;
	font-size: 30px;
	
	-webkit-text-stroke: 0.5px black;
}
.animeep{
	position: absolute;
	font-size: 20px;
	bottom: 25%;
	margin-left: 20px;
	-webkit-text-stroke: 0.5px black;
}
.thumbtitle{
	font-size: 13px;
	text-align: left;
	width: 100%;
	height: 40px;
}
.foot{

	width: 100%;
	height: 200px;
	color: #FFFFFF;
	justify-content: center;
	display: block;
	position: relative;
	overflow: hidden;
	padding: 10px;

}

.logo{
	display: block;
	width: 80px;
	height: auto;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	object-fit: cover;
	position: relative;
	overflow: hidden;
}
.fbox{
	text-align: center;
	color: #800080;
	display: flex;
	position: relative;
	overflow: hidden;
	justify-content: center;
	padding: 10px;

}
.flbl{
	margin: 5px;
}
.allseries{
	margin-left: auto;
	margin-right: auto;
	padding-top: 70px;
	width: 100%;
	height: auto;
	position: relative;
	display: block;
}
.serie{

	height: 180px;
	width: 100px;
	display: inline-block;
	position: relative;
	margin: 20px;
	color: #ffffff;
	cursor: pointer;
	
}
.serithumb{
	width:120px;
	height: 180px;
	object-fit: cover;
	position: absolute;
	 border: 5px solid #EE82EE;

}
.title{
	width: 100%;
	height: auto;
	font-size: 15px;
	position: absolute;
	bottom: 30px;
	-webkit-text-stroke: 0.5px black;
}
.infobar{
	margin-left: auto;
	margin-right: auto;
	padding-top: 70px;
	width: 100%;
	height: 40vh;
	position: relative;
	display: block;
}
.cover{
	width: 23vh;
	height: 30vh;
	margin: auto;
	position: absolute;
	display: inline-block;

}
.syno{
	width: 40%;
	height: 100%;
	margin: auto;
	display: inline-block;
}
.Episodes{
	display: block;
	width: 100%;
	font-size: 20px;
	margin: auto;

}
.eplist{
	width: 100%;
	min-height: 30vh;
	max-height: auto;
	overflow: hidden;
	padding: 20px;
	position: relative;
	
}
.eptitle{
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	margin: 10px;
	color: #00FFFF;
	}
