{{ define "main" }}
<section style="position: fixed; z-index: 99; width: 100%; 	 display: block; text-align: center;">
<form action="/allanime" style="width: 100%;"><input placeholder="search" class="search" type="text" name="search"></form>
<label class="seeall" onclick="location.href='/allanime'">See All</label>
</section>
<section id="drama">
	
</section>
 <img class="backbtn" src="https://otamm.b-cdn.net/home.png" onclick="location.href='/'"> 
  <div class="tbar"><label class="lbl" id="labl">All Anime</label></div> 
 
 <link rel="stylesheet" href="https://otamm.b-cdn.net/css/drama.css" media="screen">
<link rel="stylesheet" href="https://otamm.b-cdn.net/css/stuff.css" media="screen">
 <script type="text/javascript">
 	
 </script>
<script type="text/javascript" src="https://otamm.b-cdn.net/js/dramalist.js"></script> 

{{end}}