{{ define "main" }}

<section style="position: fixed; z-index: 99; width: 100%; 	 display: block; text-align: center;">
<form action="/alllightnovels" style="width: 100%;"><input placeholder="search" class="search" type="text" name="search"></form>
<label class="seeall" onclick="location.href='/alllightnovels'">See All</label>
</section>

<section id="lightnovel" class="allmanga"></section>
  <img class="backbtn" src="/home.png" onclick="location.href='/'"> 
  <div class="tbar"><label class="lbl" id="labl">Light Novels</label></div> 
 
<script type="text/javascript" src="/js/error.js"></script> 
<script type="text/javascript" src="/js/LN/alllightnovels.js"></script> 

{{end}}