<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        
                
        {{- partial "header.html" . -}}
        {{- partial "preloader.html" . -}}
        <script data-cfasync="false" type="text/javascript" src="https://www.dexpredict.com/a/display.php?r=4887287"></script>

        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        
        {{- partial "foot.html" . -}}
    </body>
    <!-- The core Firebase JS SDK is always required and must be listed first -->

</html>

