{{ define "main" }}
<link rel="stylesheet" href="/css/drama.css" media="screen">
<div style="display: block; overflow: hidden; position: relative; width: 100%;">
<div id="vid">
	
</div>
<div>
 <div  class="tbar2">  
<label  class="lbl2">All Episodes</label>
</div>
<div id="episodes" class="eplist">
	
</div>
</div>
</div>	
<script type="text/javascript">
const queryString = window.location.search;
  console.log(queryString);
  // ?product=shirt&color=blue&newuser&size=m
  const urlParams = new URLSearchParams(queryString);
  const key = urlParams.get('s');
   const dkey = urlParams.get('d');
   
   
  if (key !== null) {video()}

  function video(){
  	 const Episode = "https://creatordesk.otamyanmar.com/drama/readoneEpisode.php/?ep_id="+key;
  	  const Episodes = "https://creatordesk.otamyanmar.com/drama/readEpisode.php/?drama_id="+dkey;
  	 getapi(Episode , Episodes);
  }	
  async function getapi(url1,url2) { 
  
  // Storing response 
  const response = await fetch(url1); 
    const response2 = await fetch(url2); 

  // Storing data in form of JSON 
  var data = await response.json();
   var episode = await response2.json(); 
; 
  console.log(data); 
  if (response) { 
     
  } 
  showVideo(data,episode); 
}
function showVideo(data,episode){
	let ep= ``;
	let video=`
  <div id="titlebox" class="abar"><label class="animeep">${data.ep_title}</label></div>

<video id="anime" width="100%" poster="${data.drama_cover}" onplay="nowpaly();" onpause="nowpause();" controls>
  <source src="${data.vid_url}" type="video/mp4">
  <source src="${data.vid_url}" type="video/ogg">
</video>

  
 



	`;
for (let r of episode.episodes) { 
ep += `
 <img id="nx" class="backbtn" src="/bck.png" onclick="location.href='/anime/?id=${data.drama_id}'">
<a style="display:block; margin:10px; width: 100%; overflow:hidden; position:relative" href="/watch/?s=${r.ep_id}&d=${data.drama_id}" >${r.ep_title}</a>
`;

}	
 document.getElementById("vid").innerHTML = video;	
 document.getElementById("episodes").innerHTML = ep;	
}  	

 function nowpaly() {
    document.getElementById("titlebox").style.display = "none"; 
}
function nowpause() {
    document.getElementById("titlebox").style.display = "block"; 
}
</script>
{{end}}
